<div class="alert alert-dark container">
  <h2 class="text-center">Registration</h2>
  <div class="form">
    <div class="form-group row">
      <label for="name" class="col-3">Name</label>
      <input
        [(ngModel)]="name"
        type="text"
        id="name"
        class="form-control col-8"
        placeholder="Name"
        #Name
      />
    </div>
    <div *ngIf="!Name.value" class="alert alert-danger text-center">
      Not Valid
    </div>
    <div class="form-group row">
      <label for="age" class="col-3">Age</label>
      <input
        [(ngModel)]="age"
        type="text"
        id="age"
        class="form-control col-8"
        placeholder="Age"
        #Age
      />
    </div>
    <div
      *ngIf="!Age.value || Age.value < 18 || Age.value > 60"
      class="alert alert-danger text-center"
    >
      18 &lt; Age &lt; 60
    </div>
    <div class="form-group text-center">
      <input
        type="button"
        (click)="Add()"
        value="Add"
        class="btn btn-success"
      />
    </div>
  </div>
</div>
