<form
  [formGroup]="ourValidation"
  class="form alert alert-dark container"
  (ngSubmit)="sub()"
>
  <h2 class="text-center">Registration</h2>
  <div class="form-group row">
    <label class="col-3" for="name">Name</label>
    <input
      formControlName="name"
      #name
      type="text"
      id="name"
      class="form-control col-8"
    />
  </div>

  <div *ngIf="!Name" class="alert alert-danger text-center">Not Valid</div>
  <div class="form-group row">
    <label class="col-3" for="age">Age</label>
    <input
      formControlName="age"
      #age
      type="text"
      id="age"
      class="form-control col-8"
    />
  </div>
  <div *ngIf="!Age" class="alert alert-danger text-center">
    18 &lt; Age &lt; 60
  </div>
  <div class="form-group text-center">
    <input type="submit" value="Add" class="btn btn-success" />
  </div>
</form>
