<h1>hello from app.component.html</h1>
<app-first></app-first>
<br /><br /><br /><br /><br />
<app-second></app-second>

<br /><br />
<h1>--------------------------LAB 3---------------------------------------</h1>
<br /><br />

<app-reg (myEvent)="reciveData($event)"></app-reg>
<app-students [allStudents]="students"></app-students>

<br /><br />
<h1>--------------------------LAB 4---------------------------------------</h1>
<br /><br />

<app-studentsemployees></app-studentsemployees>
<app-employees-details></app-employees-details>
<app-about></app-about>
<app-error></app-error>
