/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* h2 {
  background-color: aquamarine;
  color: blue;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  border-bottom: 1px solid black;
}

div {
  background-color: gainsboro;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
}
div * {
  display: block;
  text-align: center;
  margin: 5px auto;
  border-radius: 20px;
  outline: none;
  border: none;
}
div h2 {
  width: 100%;
}
div input[type="button"] {
  width: 30%;
  background-color: aquamarine;
}
div input[type="button"]:hover {
  transform: scaleX(1.3);
}

div input[type="button"]:active {
  background-color: aqua;
  color: brown;
}

table {
  text-align: center;
  margin: 10px auto;
  border: 1px solid black;
  background-color: gainsboro;
  width: 50%;
}
td,
th {
  border: 1px solid aqua;
  text-align: center;
} */
.active1 {
  color: chartreuse;
}
